In [82]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')  # hides warnings

# Dataset context

After a customer purchases the product from Olist Store a seller gets notified to fulfill that order. Once the customer receives the product, or the estimated delivery date is due, the customer gets a satisfaction survey by email where he can give a note for the purchase experience and write down some comments.

# EDA

In [83]:
customers = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_customers_dataset.csv")

customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [84]:
customers.head(3)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

In [86]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [87]:
# City with the most customers
customers["customer_city"].value_counts(ascending=False).head(5)

customer_city
sao paulo         15540
rio de janeiro     6882
belo horizonte     2773
brasilia           2131
curitiba           1521
Name: count, dtype: int64

In [88]:
# State with most customers
customers["customer_state"].value_counts(ascending=False).head(5)

customer_state
SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
Name: count, dtype: int64

In [136]:
# Ciudad con m√°s clientes

# Filtro
mask = customers["customer_state"] == "SP"

# Clientes por ciudad (conteo de filas)
clientes_por_ciudad = (
    customers.loc[mask]
    .groupby("customer_city")
    .size()
    .reset_index(name="n_clientes")
    .sort_values("n_clientes", ascending=False)
)

clientes_por_ciudad.head()

             customer_city  n_clientes
551              sao paulo       15540
104               campinas        1444
211              guarulhos        1189
535  sao bernardo do campo         938
526            santo andre         796

Since the most customers live in the city of Sao Paulo, it is better to focus all KPIs in the city of Sao Paulo rather than in the state of Sao Paulo.

In [90]:
geolocation = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_geolocation_dataset.csv")

geolocation.columns

Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
       'geolocation_city', 'geolocation_state'],
      dtype='object')

In [91]:
geolocation.head(3)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP

In [92]:
# geolocation.dtypes

In [93]:
geolocation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

In [94]:
order_items = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_order_items_dataset.csv")

order_items.columns

Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')

In [95]:
order_items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [96]:
# order_items.dtypes

In [97]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [98]:
# order_items.isna().sum().sort_values(ascending=False)

In [99]:
order_payments = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_order_payments_dataset.csv")

order_payments.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [100]:
order_payments.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [101]:
order_payments["payment_type"].value_counts().sort_values(ascending=False)

payment_type
credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: count, dtype: int64

In [102]:
order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [103]:
order_reviews = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_order_reviews_dataset.csv")

order_reviews.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [104]:
order_reviews.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [105]:
order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [106]:
print((order_reviews["review_score"] >= 4).sum())

76470

In [107]:
order_reviews.isna().sum().sort_values(ascending=False)

review_comment_title       87656
review_comment_message     58247
review_id                      0
review_score                   0
order_id                       0
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [108]:
order_reviews[order_reviews.isna() == True].head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
orders = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_orders_dataset.csv")

orders.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [110]:
orders.head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [111]:
# Different types of Order status

orders["order_status"].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [112]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [113]:
dt_columns_names = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date"]

for date_column in dt_columns_names:
    orders[date_column] = pd.to_datetime(orders[date_column], errors="coerce", utc=False)

orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [114]:
purchased_date = orders["order_purchase_timestamp"]

purchased_date = pd.DataFrame(purchased_date)

purchased_date["purchased_year"] = purchased_date["order_purchase_timestamp"].dt.year
purchased_date["purchased_month"] = purchased_date["order_purchase_timestamp"].dt.month

purchased_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_purchase_timestamp  99441 non-null  datetime64[ns]
 1   purchased_year            99441 non-null  int32
 2   purchased_month           99441 non-null  int32
dtypes: datetime64[ns](1), int32(2)
memory usage: 1.5 MB

In [115]:
purchased_date["purchased_year"].value_counts()

purchased_year
2018    54011
2017    45101
2016      329
Name: count, dtype: int64

In [116]:
orders.isna().sum().sort_values(ascending=False)

order_delivered_customer_date    2965
order_delivered_carrier_date     1783
order_approved_at                 160
order_id                            0
order_purchase_timestamp            0
order_status                        0
customer_id                         0
order_estimated_delivery_date       0
dtype: int64

In [117]:
orders[orders.isna() == True].head(3)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
1,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT
2,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT

In [118]:
products = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_products_dataset.csv")

products.columns

Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')

In [119]:
products.head(3)

# NOTA: Columnas con nombre "length" est√°n mal escritas.

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [120]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [121]:
products.isna().sum().sort_values(ascending=False)

product_category_name         610
product_description_lenght    610
product_name_lenght           610
product_photos_qty            610
product_weight_g                2
product_height_cm               2
product_length_cm               2
product_width_cm                2
product_id                      0
dtype: int64

In [122]:
products[products.isna() == True].head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
sellers = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\olist_sellers_dataset.csv")

sellers.columns

Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')

In [124]:
sellers.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

In [125]:
sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [126]:
# City with the most sellers
sellers["seller_city"].value_counts(ascending=False).head(5)

seller_city
sao paulo         694
curitiba          127
rio de janeiro     96
belo horizonte     68
ribeirao preto     52
Name: count, dtype: int64

In [127]:
product_cat = pd.read_csv(r"C:\Users\felip\Desktop\E-commerce SQL and Python Analytics Project\data\product_category_name_translation.csv")

product_cat.columns

Index(['product_category_name', 'product_category_name_english'], dtype='object')

In [128]:
product_cat.head(3)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

In [129]:
product_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

## Objetivo de negocio

Nota: 
    * YoY = Year over Year (a√±o contra a√±o)
    * PP = Puntos porcentuales
        Ej. 74% ‚àí 70% = +4 pp. 

### 1 frase + grano (d√≠a/semana/mes)

**Aumentar el porcentaje de ordenes con estado "delivered" (√≥rdenes delivered/√≥rdenes creadas) en la ciudad de Sao Paulo en 2% por trimestre, en comparaci√≥n al mismo trimestre del a√±o pasado.**

**Grano: Se medir√° por Quarter (Trimestre)**

* Fecha que define el trimestre: order_delivered_customer_date

Sugerido (Bonus):
    "Queremos aumentar la frecuencia de compra en clientes nuevos para mejorar el revenue recurrente.‚Äù"

## KPIs:

1) Aumentar ingresos (price sin freight) totales generados por pedidos en estado "delivered", en un 2%, en la ciudad de Sao Paulo, en comparaci√≥n al mismo trimestre del a√±o anterior.

    Formula relativa:
        YoY = Revenue_Q_t - Revenue_Q_{t-4} / Revenue_Q_{t-4}

    Meta:
        >= +2% YoY

    Exclusiones: √ìrdenes canceladas, fechas inv√°lidas.

2) Aumentar la proporci√≥n (Share) de reviews de 4 o m√°s estrellas en 2%. Reviews deben ser de la ciudad de Sao Paulo, fechadas en el trimestre y ser√°n comparadas con el mismo trimestre del a√±o anterior.

    Formula relativa:
        Share_Q_t ‚àí Share_Q_{t‚àí4}

    Meta:
        +2 pp YoY

3) Reducir el percentil (P90) del lead time (d√≠as entre que se aprueba el pago y que cliente recibe orden) de pedidos en estado "delivered", por trimestre en la ciudad de Sao Paulo, en base al mismo trimestre del a√±o anterior en 2%

    Formula relativa:
        LeadTime_Q_t ‚àí LeadTime_Q_{t‚àí4}
        
    Meta: 
        <= ‚àí0.2 d√≠as

    Exclusiones: 
        √ìrdenes distintas a Delivered, fechas inv√°lidas.

4) Aumentar ‚Äúon-time rate‚Äù (% de pedidos con delivered_date ‚â§ estimated_date) de pedidos en estado "delivered", en la ciudad de Sao Paulo, por trimestre, en comparaci√≥n al mismo trimestre del a√±o anterior en 2%.

    Formula relativa:
        OnTimeRate_Q_t ‚àí OnTimeRate_Q_{t‚àí4}

    Meta: 
        +2 pp YoY

    Exclusiones: 
        Pedidos sin estimated_date o sin delivered_date.

    Bonus: ‚Äúlateness promedio en d√≠as‚Äù solo para los atrasados.

5) Mejorar el porcentaje de participaci√≥n (Share) de la categor√≠a de productos m√°s vendida en Q_{t‚àí4}, por trimestre, en la ciudad de Sao Paulo, en base al mismo trimestre del a√±o anterior en 2%


    Formula relativa:
        ShareTopCat(Q_t) ‚àí ShareTopCat(Qt‚àí4‚Äã)

    Meta:
        +2 pp YoY

Bonus:
    - Aumentar la frecuencia de compra de clientes (Disminuir tiempo entre orden y orden) (Para mejorar el revenue recurrente)

## Preguntas de negocios

- ¬øQu√© categor√≠a de producto es la m√°s vendida?
- ¬øQu√© producto es el m√°s vendido?
- ¬øTop 10 (√≥ 5) clientes que m√°s compran?
    - ¬øQu√© compran?
- ¬øTop 10 sellers?
    - ¬øQu√© venden los top 10 sellers?
- ¬øCu√°l es el performance de los shippings?

# Modelo de Datos

## Grano de tabla de hechos (fact_event)

El grano de fact_events es order_id (L√≠nea de pedido: un pedido puede tener m√°s de un item). Es decir un fila equivaldr√° a un pedido.

Nota: Se perder√° la capacidad de desglosar por categor√≠a e item.

## Fecha de referencia para el trimestre

Se asigna el trimestre por "order_delivered_customer_date".

## Tables and schemas

Star Schema

### core.facts_event (Tabla de hechos)

    - event_id (PK)
    - order_id (identifica el pedido)
    - order_item_id (n√∫mero de √≠tem dentro del pedido)
    - customer_id (qui√©n compra)
    - product_id (Qu√© se compr√≥)
    - seller_id (Qui√©n vendi√≥) (Opcional)
    - price (order_items)
    - freight_value (order_items)
    - lead_time_days (Delivered date - Approved date in days)
    - on_time_flag (1 si delivered_date <= estimated_date, si no 0)
    - calendar_id (FK)
    - customer_sk (FK)
    - product_sk (FK)
    - seller_sk (FK) (Optional)
    - external_sk (FK) (Optional)

### core.dim_calendar

    **Note**: We are going to use order_delivered_customer_date to define the Quarter's date.

    Use: Group by quarter

    - calendar_id (PK)
    - date
    - day_of_week
    - week
    - month
    - quarter
    - year
    - is_holiday (optional)

### core.dim_customer

    Use: Filter using Sao Paulo, the city.

    - customer_sk
    - customer_id
    - customer_city
    - customer_estate (Optional)

### core.dim_product

    Use: Star category KPI and mix analysis (?) 

    - product_sk
    - product_id
    - product_category_name

### core.dim_seller (optional)

    Use: Seller performance/Seller's city performance

    - seller_sk
    - seller_id
    - seller_city
    - seller_state (Optional)

### core.dim_external (optional)

    - external_sk
    - date
    - city
    - temp
    - rain
    - is_holiday

Nota: Llave de uni√≥n conceptual: (date + city); en la fact la reemplazas por external_sk

## Relations

fact_events (N) ‚Üí dim_calendar (1) por calendar_id

fact_events (N) ‚Üí dim_customer (1) por customer_sk

fact_events (N) ‚Üí dim_product (1) por product_sk

(opt.) fact_events (N) ‚Üí dim_seller (1)

(opt.) fact_events (N) ‚Üí dim_external (1)

## Quality checks

    - Only delivered status